@import "../../css/variables.module.scss";
@import "../Chat/Chat.scss";

$verticalBreakpoint: 861px;

.excalidraw {

  &.theme--dark {
    .ttd-chat-menu-item__delete {
      svg {
        color: var(--color-on-surface);
      }
    }
  }

  .Modal.Dialog.ttd-dialog {
    padding: 1.25rem;

    &.Dialog--fullscreen {
      margin-top: 0;
    }

    .Island {
      padding-inline: 0 !important;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    .Modal__content {
      height: auto;
      max-height: 100%;

      @media screen and (min-width: $verticalBreakpoint) {
        max-height: 750px;
        height: 100%;
      }
    }

    .Dialog__content {
      flex: 1 1 auto;
    }
  }

  .ttd-dialog-desc {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .ttd-dialog-info {
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--color-on-surface-variant);
    background: transparent;
    cursor: help;

    border: none;
    border-radius: var(--border-radius-sm);

    &:hover {
      background: var(--color-surface-low);
      color: var(--color-on-surface);
    }
  }

  .ttd-dialog-tabs-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ttd-dialog-tab-trigger {
    color: var(--color-on-surface);
    font-size: 0.875rem;
    margin: 0;
    padding: 0 1rem;
    background-color: transparent;
    border: 0;
    height: 2.875rem;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 0.4px;

    &[data-state="active"] {
      border-bottom: 2px solid var(--color-primary);
    }

    &__content {
      display: flex;
      align-items: center;
    }

    &__badge {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px 6px;
      margin-left: 10px;
      font-size: 10px;
      border-radius: 12px;
      background: var(--color-promo);
      color: var(--color-surface-lowest);
    }
  }

  .ttd-dialog-triggers {
    border-bottom: 1px solid var(--color-surface-high);
    margin-bottom: 2.5rem;
    padding-inline: 2.5rem;
  }

  .ttd-dialog-content {
    padding-inline: 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;

    &[hidden] {
      display: none;
    }
  }

  .ttd-dialog-panel__header .dropdown-menu {
    margin: 0;
    right: 0;
    left: auto;
    min-width: 10rem;

    .dropdown-menu-container {
      padding: 0.5rem 0;
      max-height: 400px;
      overflow-y: auto;
      box-shadow: var(--shadow-island);
      border-radius: var(--border-radius-lg);
      padding: calc(var(--padding) * var(--space-factor));
    }
  }

  .ttd-dialog-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    &--chat-only {
      grid-template-columns: 1fr;
    }

    &--split {
      gap: 2rem;
      min-width: 0;

      @media screen and (max-width: $verticalBreakpoint) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 2rem;
      }

      .ttd-dialog-chat-panel {
        min-width: 0;

        @media screen and (max-width: $verticalBreakpoint) {
          width: 100%;
          flex: 0 0 auto;
          height: auto;
          min-height: 250px;
        }
      }

      .ttd-dialog-preview-panel {
        min-width: 0;
        opacity: 1;
        overflow: hidden;

        @media screen and (max-width: $verticalBreakpoint) {
          width: 100%;
          flex: 0 0 auto;
          max-width: 100%;
          height: 300px;
        }
      }
    }
  }

  .ttd-dialog-input {
    width: auto;
    height: 10rem;
    resize: none;
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--dialog-border-color);
    white-space: pre-wrap;
    padding: 0.85rem;
    box-sizing: border-box;
    font-family: monospace;

    @media screen and (min-width: $verticalBreakpoint) {
      width: 100%;
      height: 100%;
    }
  }


  .ttd-dialog-output-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;

    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==")
      left center;
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--dialog-border-color);

    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 472px;

    @media screen and (max-width: $verticalBreakpoint) {
      width: 100%;
      max-width: 100%;
      height: 200px;
    }

    canvas {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }

  .ttd-dialog-output-canvas-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    user-select: none;
  }

  .ttd-dialog-output-canvas-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    canvas {
      image-rendering: auto;
    }
  }

  .ttd-dialog-output-error {
    color: red;
    font-weight: 700;
    font-size: 30px;
    word-break: break-word;
    overflow: auto;
    max-height: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 10;

    p {
      font-weight: 500;
      font-family: Cascadia;
      text-align: left;
      white-space: pre-wrap;
      font-size: 0.875rem;
      padding: 0 10px;
    }
  }

  .ttd-dialog-panels {
    height: 100%;

    @media screen and (min-width: $verticalBreakpoint) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }
  }

  .ttd-dialog-chat-panel,
  .ttd-dialog-preview-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 0;
    overflow: hidden;
  }

  .ttd-dialog-panel {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 36px;
      flex-shrink: 0;

      label {
        font-size: 14px;
        line-height: 22px;
        font-style: normal;
        font-weight: 600;
      }
    }

    &__label-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__label-group {
      display: flex;
      gap: 5px;
    }

    &__menu-wrapper {
      position: relative;
    }

    &:first-child {
      .ttd-dialog-panel-button-container:not(.invisible) {
        margin-bottom: 4rem;
      }
    }

    @media screen and (min-width: $verticalBreakpoint) {
      .ttd-dialog-panel-button-container:not(.invisible) {
        margin-bottom: 0.5rem !important;
      }
    }

    textarea {
      height: 100%;
      resize: none;
      border-radius: var(--border-radius-lg);
      border: 1px solid var(--dialog-border-color);
      white-space: pre-wrap;
      padding: 0.85rem;
      box-sizing: border-box;
      width: 100%;
      font-family: monospace;

      @media screen and (max-width: $verticalBreakpoint) {
        width: auto;
        height: 44px;
      }
    }
  }

  .ttd-dialog-panel-button-container {
    display: flex;
    align-items: center;
    flex-grow: 0;
    max-height: 40px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    &.invisible {
      .ttd-dialog-panel-button {
        display: none;

        @media screen and (min-width: $verticalBreakpoint) {
          display: block;
          visibility: hidden;
        }
      }
    }
  }

  .ttd-dialog-panel-button {
    &.excalidraw-button {
      font-family: inherit;
      font-weight: 600;
      height: 2.5rem;

      font-size: 12px;
      color: $oc-white;
      background-color: var(--color-primary);
      width: 100%;

      &:hover {
        background-color: var(--color-primary-darker);
      }
      &:active {
        background-color: var(--color-primary-darkest);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background-color: var(--color-primary);
        }
      }

      @media screen and (min-width: $verticalBreakpoint) {
        width: auto;
        min-width: 7.5rem;
      }

      @at-root .excalidraw.theme--dark#{&} {
        color: var(--color-gray-100);
      }
    }

    position: relative;

    div {
      display: contents;

      &.invisible {
        visibility: hidden;
      }

      &.Spinner {
        display: flex !important;
        position: absolute;
        inset: 0;

        --spinner-color: white;

        @at-root .excalidraw.theme--dark#{&} {
          --spinner-color: var(--color-gray-100);
        }
      }

      span {
        padding-left: 0.5rem;
        display: flex;
      }
    }
  }

  .ttd-dialog-submit-shortcut {
    margin-inline-start: 0.5rem;
    font-size: 0.625rem;
    opacity: 0.6;
    display: flex;
    gap: 0.125rem;

    &__key {
      border: 1px solid gray;
      padding: 2px 3px;
      border-radius: 4px;
    }
  }

  .dropdown-menu-item-custom.ttd-chat-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    position: relative;
    margin-top: 0;

    &:hover {
      background-color: var(--button-hover-bg);
    }

    &__title {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ttd-chat-menu-item__delete {
      border: none;
      padding: 0.25rem;
      cursor: pointer;
      transition: opacity 0.2s ease, visibility 0.2s ease;
      flex-shrink: 0;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;

      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        opacity: 1 !important;
      }
    }
  }
}
